.gitignore
.DS_Store
.vscode/settings.json

chess-ai/venv

# Phase 4 - Computer Vision
04-computer-Vision/Bonus-Denoising_Diffusion_Probabilistic_Model/data
04-computer-Vision/Bonus-Denoising_Diffusion_Probabilistic_Model/Logs_Checkpoints
04-computer-Vision/Bonus-Denoising_Diffusion_Probabilistic_Model/inference_results/20260513-183720.mp4

03-deep-learning-foundations/Bonus-HandwrittenDigits/sample_data

04-computer-Vision/Bonus-RF-DETR Segmentation/downloads
04-computer-Vision/Bonus-RF-DETR Segmentation/images
04-computer-Vision/Bonus-RF-DETR Segmentation/output
04-computer-Vision/Bonus-RF-DETR Segmentation/videos

04-computer-Vision/Bonus-RF-DETR Segmentation/rf-detr-medium.pth
04-computer-Vision/Bonus-RF-DETR Segmentation/rf-detr-seg-medium.pt
04-computer-Vision/Bonus-RF-DETR Segmentation/rf-detr-seg-nano.pt

04-computer-Vision/Bonus-YOLO26_Models/YOLO26_Instance_Segmentation/yolo26n-seg.pt
04-computer-Vision/Bonus-YOLO26_Models/YOLO26_Keypoint_Estimation/yolo26n-pose.pt
04-computer-Vision/Bonus-YOLO26_Models/YOLO26_Keypoint_Estimation/yolo26_workspace/inputs
04-computer-Vision/Bonus-YOLO26_Models/YOLO26_Keypoint_Estimation/yolo26_workspace/outputs

04-computer-Vision/Project_1_Semantic_Segmentation/data/oxford-iiit-pet
04-computer-Vision/Project_1_Semantic_Segmentation/models/__pycache__
04-computer-Vision/Project_1_Semantic_Segmentation/utils/__pycache__
04-computer-Vision/Project_1_Semantic_Segmentation/utils/__pycache__
04-computer-Vision/Project_1_Semantic_Segmentation/unet_model.pth

04-computer-Vision/Project_2_Segment_Anything_Model/checkpoints/sam_vit_b_01ec64.pth

04-computer-Vision/Project_3_Vision_Transformers/models/__pycache__
04-computer-Vision/Project_3_Vision_Transformers/data
04-computer-Vision/Project_3_Vision_Transformers/utils/__pycache__

04-computer-Vision/Project_5_Multi_Object_Tracking/venv
04-computer-Vision/Project_5_Multi_Object_Tracking/yolov8n.pt
04-computer-Vision/Project_5_Multi_Object_Tracking/data/videos/BasketBall.mp4
04-computer-Vision/Project_5_Multi_Object_Tracking/data/videos/Boxing.mp4
04-computer-Vision/Project_5_Multi_Object_Tracking/data/videos/Dance 2.mp4
04-computer-Vision/Project_5_Multi_Object_Tracking/data/videos/Dance.mp4
04-computer-Vision/Project_5_Multi_Object_Tracking/data/videos/Football.mp4
04-computer-Vision/Project_5_Multi_Object_Tracking/data/videos/Horses.mp4
04-computer-Vision/Project_5_Multi_Object_Tracking/data/videos/Kids_Playing.mp4
04-computer-Vision/Project_5_Multi_Object_Tracking/outputs/tracked_output.mp4
04-computer-Vision/Project_5_Multi_Object_Tracking/data/videos/Street.mp4

04-computer-Vision/Project_6_Diffusion_Models/venv
04-computer-Vision/Project_6_Diffusion_Models/.gradio
04-computer-Vision/Project_6_Diffusion_Models/src/__pycache__

04-computer-Vision/Project_7_3D_Computer_Vision/.venv
04-computer-Vision/Project_7_3D_Computer_Vision/data
04-computer-Vision/Project_7_3D_Computer_Vision/stereo_depth/__pycache__
04-computer-Vision/Project_7_3D_Computer_Vision/sfm/__pycache__
04-computer-Vision/Project_7_3D_Computer_Vision/outputs/sfm/Screen Recording 2026-05-22 at 3.12.46 PM.mov
04-computer-Vision/Project_7_3D_Computer_Vision/outputs/stereo/Screen Recording 2026-05-22 at 2.39.39 PM.mov
04-computer-vision/Project_7_3D_Computer_Vision/outputs/sfm/Screen Recording 2026-05-26 at 5.06.16 PM.mov
04-computer-Vision/Project_7_3D_Computer_Vision/nerf/__pycache__

04-computer-Vision/Project_8_Video_Understanding/.venv
04-computer-Vision/Project_8_Video_Understanding/data

# Phase 1 - Python Foundations
01-python-foundations/project_1_python_data_analysis_toolkit/.venv
01-python-foundations/project_1_python_data_analysis_toolkit/toolkit/__pycache__

01-python-foundations/project_2_matrix_and_tensor/.venv
01-python-foundations/project_2_matrix_and_tensor/demos/__pycache__
01-python-foundations/project_2_matrix_and_tensor/visualizers/__pycache__

01-python-foundations/project_3_gradient_descent_visualizer/.venv
01-python-foundations/project_3_gradient_descent_visualizer/__pycache__

01-python-foundations/project_4_neural_network/.venv
01-python-foundations/project_4_neural_network/__pycache__
01-python-foundations/project_4_neural_network/src/__pycache__

01-python-foundations/project_5_gpu_performance/.venv
01-python-foundations/project_5_gpu_performance/__pycache__

# Phase 2 - Classical Machine Learning
02-classical-machine-learning/project_1_titanic_survival_predictor/.venv
02-classical-machine-learning/project_1_titanic_survival_predictor/src/__pycache__

02-classical-machine-learning/project_2_house_price_predictor/.venv
02-classical-machine-learning/project_2_house_price_predictor/src/__pycache__
02-classical-machine-learning/project_2_house_price_predictor/outputs/model/random_forest.pkl

02-classical-machine-learning/project_3_spam_email_classifier/.venv
02-classical-machine-learning/project_3_spam_email_classifier/src/__pycache__

02-classical-machine-learning/project_4_iris_flower_classifier/.venv

02-classical-machine-learning/project_5_customer_churn_predictor/.venv

02-classical-machine-learning/project_6_stock_movement_baseline/.venv

02-classical-machine-learning/project_7_credit_risk_scoring/.venv

02-classical-machine-learning/project_8_model_comparison/.venv

02-classical-machine-learning/project_9_feature_engineering/.venv

# Phase 3 - Deep Learning Foundations
03-deep-learning-foundations/project_1_neural_network/.venv
03-deep-learning-foundations/project_1_neural_network/utils/__pycache__

03-deep-learning-foundations/project_2_mnist_digits/.venv

03-deep-learning-foundations/project_2_mnist_digits/data
03-deep-learning-foundations/project_2_mnist_digits/utils/__pycache__

03-deep-learning-foundations/project_3_fashion_mnist_classifier/.venv
03-deep-learning-foundations/project_3_fashion_mnist_classifier/utils/__pycache__

03-deep-learning-foundations/project_4_cifar_image_classifier/.venv
03-deep-learning-foundations/project_4_cifar_image_classifier/utils/__pycache__
03-deep-learning-foundations/project_4_cifar_image_classifier/data

03-deep-learning-foundations/project_5_cnn_visualization/.venv
03-deep-learning-foundations/project_5_cnn_visualization/utils/__pycache__
03-deep-learning-foundations/project_5_cnn_visualization/data

03-deep-learning-foundations/project_6_text_classification_rnn/.venv
03-deep-learning-foundations/project_6_text_classification_rnn/utils/__pycache__
03-deep-learning-foundations/project_6_text_classification_rnn/data/__pycache__
03-deep-learning-foundations/project_6_text_classification_rnn/models/__pycache__
